@use './../utils/flexbox' as *;
@use './../utils/media-query' as *;

.lecturer {
  display: flex;
  flex-wrap: wrap;
  // @include flexbox($wrap: wrap);
  // width: 100%;
}

.card-lecturer {
  @include mobile {
    flex-basis: 100%;
  }

  @include tablet {
    flex-basis: 50%;
  }

  @include desktop {
    flex-basis: 33%;
  }
}
