@use "sass:map";

// Breakpoints
$breakpoints: ();

@function errorMessage($breakpoint-name) {
  @return "#{$breakpoint-name} : 중단점이 유효하지 않습니다.";
}

@mixin respond-from($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @error errorMessage($breakpoint);
  }
}

@mixin respond-until($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @error errorMessage($breakpoint);
  }
}

@mixin respond-range($from, $until) {
  @if map.has-key($breakpoints, $from) and map.has-key($breakpoints, $until) {
    $from-value: map.get($breakpoints, $from);
    $until-value: map.get($breakpoints, $until);

    @media (min-width: $from-value) and (max-width: ($until-value - 1)) {
      @content;
    }
  } @else {
    @if (map.has-key($breakpoints, $from) ==false) {
      @error errorMessage($from);
    }

    @if (map.has-key($breakpoints, $until) ==false) {
      @error errorMessage($until);
    }
  }
}

<<<<<<< HEAD
$mobile: 480px;
<<<<<<< HEAD
$tablet: 768px;
=======
$tablet: 900px;
>>>>>>> e4daf498ca327abf758d6add5786d1948ae1f663
=======
$mobile: 710px;
$tablet: 960px;
>>>>>>> 7eaec7e835df9b596c4a583c066e49c2f5f13070
$desktop: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@mixin tablet {
<<<<<<< HEAD
  @media (max-width: #{$tablet}) {
=======
  @media (min-width: #{$mobile+1}) and (max-width: #{$tablet}) {
>>>>>>> e4daf498ca327abf758d6add5786d1948ae1f663
    @content;
  }
}

@mixin desktop {
<<<<<<< HEAD
  @media (max-width: #{$desktop}) {
=======
  @media (min-width: #{$tablet + 1}) {
>>>>>>> e4daf498ca327abf758d6add5786d1948ae1f663
    @content;
  }
}
