@use './../utils'as *;

.main-nav {
  padding: rem(24px) 0;

  @include tablet {
    padding: rem(48px) 0;
  }

  @include desktop {
    padding: rem(48px) 0;
  }
}

.main-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main__item {
  list-style-type: none;

  span {
    width: rem(64px);
    height: rem(64px);
    overflow: hidden;
    border-radius: 30%;

    @include tablet {
      width: rem(96px);
      height: rem(96px);
    }

    @include desktop {
      width: rem(96px);
      height: rem(96px);
    }
  }

  img {
    width: rem(64px);
    height: rem(64px);
    border-radius: 30%;
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.2);
    }

    @include desktop {
      width: rem(96px);
      height: rem(96px);
    }

    @include tablet {
      width: rem(96px);
      height: rem(96px);
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration-line: none;
  }
}

.practice {
  overflow: hidden;
}

.practice-container {
  @include flexbox($wrap: nowrap);
  position: relative;
  overflow-x: hidden;
}

.card-practice {
  @include mobile {
    flex-basis: 100%;
    flex-shrink: 0;
    width: 100%;
  }

  @include tablet {
    flex-basis: 48%;
  }

  @include desktop {
    flex-basis: 32%;
  }

  flex-shrink: 0;
  margin-right: rem(16px);

  .card__desc {
    height: rem(56px);
  }
}

.content {
  position: relative;
  padding-top: rem(68px);

  &__title {
    @include font-24px-B;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.button-group {
  position: absolute;
  top: 0;
  right: rem(8px);
}

.course {
  display: block;
  
  @include marginY(16px);

  .carousel-title {
    @include font-18px-B;
  }
  .carousel-course {
    border-radius: rem(10px);
    background-color: cornflowerblue;
    color: $white;
    padding: rem(48px) rem(24px);
    margin-top: rem(16px);
  }

  .carousel-banner1 {
    background-color: #7eb256;
  }

  .carousel-banner2 {
    background-color: #3e474f;
  }

  .carousel-banner3 {
    background-color: #e55509;
  }

  .carousel-banner4 {
    background-color: #c29d58;
  }

  @include tablet {
    @include marginY(16px);

    .carousel-title {
      @include font-24px-B;
    }

    .carousel-course {
      border-radius: rem(10px);
      color: $white;
      padding: rem(60px);
      margin-top: rem(16px);
    }

    .carousel-banner1 {
      background: url('../../assets/3.png') right / auto 100% no-repeat;
    }

    .carousel-banner2 {
      background: url('../../assets/1.png') right/ auto 100% no-repeat;
    }

    .carousel-banner3 {
      background: url('../../assets/2.png') right/ auto 100% no-repeat;
    }

    .carousel-banner4 {
      background: url('../../assets/4.png') right/ auto 100% no-repeat;
    }
  }

  @include desktop {
    @include marginY(16px);

    .carousel-title {
      @include font-24px-B;
    }

    .carousel-course {
      border-radius: rem(10px);
      color: $white;
      padding: rem(60px);
      margin-top: rem(16px);
    }

    .carousel-banner1 {
      background: #7eb256 url('../../assets/3.png') right / auto 100% no-repeat;
    }

    .carousel-banner2 {
      background: #3e474f url('../../assets/1.png') right/ auto 100% no-repeat;
    }

    .carousel-banner3 {
      background: #e55509 url('../../assets/2.png') right/ auto 100% no-repeat;
    }

    .carousel-banner4 {
      background: #c29d58 url('../../assets/4.png') right/ auto 100% no-repeat;
    }
  }

  .carousel-status,
  .carousel-desc {
    display: inline;
    margin-right: rem(8px);
    @include font-14px-B;
  }

  .carousel-status {
    text-transform: uppercase;
    color: $dark-yellow;
  }
}

figcaption {
  margin-top: rem(16px);
  text-align: center;
  color: $black;
  @include font-12px-B;

  @include desktop {
    @include font-18px-B;
  }

  @include tablet {
    @include font-18px-B;
  }
}

.lecturer {
  @include flexbox($wrap: wrap);
}

.card-lecturer {
  @include autoMargin;

  @include mobile {
    flex-basis: 100%;
  }

  @include tablet {
    flex-basis: 48%;
  }

  @include desktop {
    flex-basis: 32%;
  }
}