@use './../utils' as *;
.main-nav {
  padding: rem(24px) 0;
  @include tablet {
    padding: rem(48px) 0;
  }
  @include desktop {
    padding: rem(48px) 0;
  }
}
.main-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main__item {
  list-style-type: none;
  span {
    width: rem(64px);
    height: rem(64px);
    overflow: hidden;
    border-radius: 30%;

    @include desktop {
      width: rem(96px);
      height: rem(96px);
    }
  }
  img {
    width: rem(64px);
    height: rem(64px);
    border-radius: 30%;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.2);
    }

    @include desktop {
      width: rem(96px);
      height: rem(96px);
    }
  }
  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    text-decoration-line: none;
  }
}
figcaption {
  margin-top: rem(16px);
  text-align: center;
  color: $black;
  @include font-12px-B;
  @include desktop {
    @include font-18px-B;
  }
}
