@use './../utils/unit' as *;
@use './../utils/font' as *;
@use './../utils/color' as *;
@use './../utils/mixin' as *;
@use './../utils/flexbox' as *;
@use './../utils/media-query' as *;

.card {
  @include paddingX(16px);
  margin-bottom: 12px;
  border-radius: rem(10px);

  background-color: $white;
  
  &__title {
    @include font-32px-B;
  }

  &__thumb {
    width: 100%;
    @include mobile {
      width: 30%;
    }
  }

  &__subtitle {
    @include font-18px-B;
    display: block;
    height: rem(54px);
    margin-bottom: rem(16px);
    order: -1;
  }

  &__desc {
    @include font-14px;
    color: $desc-font;
  }
}

.card-lecturer {
  @include flexbox($direction: column);
  @include mobile {
    flex-direction: row;
    flex-grow: 1;
  }

  &-info {
    @include flexbox($direction: column);
    @include mobile {
      @include paddingX(16px);
    }
    @include tablet {
      @include paddingY(16px);
    }
    @include desktop {
      @include paddingY(16px);
    }
  }
}

.tag-wrapper {
  order: -2;
  margin-bottom: rem(16px);
}
