@use './../utils/unit' as *;
@use './../utils/font' as *;
@use './../utils/color' as *;
@use './../utils/mixin' as *;

.tag {
  @include paddingX(8px);
  @include paddingY(2px);
  @include font-12px-B;
  display: inline-block;
}

.card__tag {
  background-color: rgba($tag-blue-bg, 0.12);
  border-radius: rem(4px);
  word-break: keep-all;
}
