@use './../utils' as *;

.footer {
  overflow: hidden;
  background-color: $footer-bg;
  color: $footer-font;
  word-wrap: break-word;
  word-break: keep-all;
  @include font-14px;
  padding: rem(2px) rem(16px) rem(56px);
  display: block;

  &-section__title {
    color: $white;
    text-transform: uppercase;
    @include font-16px-B;
    margin-top: rem(32px);
    margin-bottom: rem(16px);
  }

  &-section-list div {
    display: block;
  }

  &-section-list div:nth-child(1) dt,
  &-section-list div:nth-child(1) span {
    display: none;
  }

  &-section-list:nth-child(1) span {
    display: none;
  }

  &-section-list dt,
  &-section-list dd {
    display: inline-block;
  }

  @at-root .privacy,
    .refund,
    .help {
    color: $white;
    @include font-14px-B;
  }

  @at-root .tel li {
    list-style-type: '-';
    margin-left: rem(6px);
    text-indent: rem(4px);
  }

  .footer-sns {
    display: flex;

    li {
      display: inline-block;
      flex-grow: 1;
    }
  }

  // footer-more
  &-more {
    border-top: rem(1px) solid $footer-border-color;
    padding-top: rem(32px);
    margin-top: rem(52px);
    text-align: center;
  }

  @at-root .copyright {
    @include font-14px-B;
    display: block;
  }

  @include desktop {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    padding-bottom: rem(200px);

    @at-root .company {
      flex-grow: 2;
    }

    @at-root .etc {
      flex-grow: 1;
    }

    @at-root .contact {
      flex-grow: 1;
    }

    @at-root &-more {
      @include autoMargin;
      position: absolute;
      bottom: rem(70px);
      width: 96%;
    }

    @at-root .copyright {
      text-align: left;
    }

    @at-root &-sns {
      float: right;
      width: 200px;

      img {
        vertical-align: bottom;
      }
    }
  }

  @include tablet {
    @at-root &-sns {
      float: right;
      display: inline-block;
    }
  }
}
