@use './../utils' as *;

.header {
  .login,
  .signup {
    display: none;
  }
  background: $header-bg;
  position: sticky;
  top: 0;
  padding-bottom: rem(20px);
  padding-top: rem(20px);
  @include font-16px-B;

  &-nav-list {
    @include flexbox;
  }

  &-nav__button {
    text-transform: uppercase;
    @include font-16px-B;
  }

  @include desktop {
    @include flexbox;
    .login,
    .signup {
      order: 1;
      display: block;
      @include paddingX(15);
    }
    img {
      transform: translateY(rem(5px));
    }
    .button--burger {
      display: none;
    }
    .sub-menu {
      display: none;
    }
    .nav-menu {
      justify-content: flex-end;
      display: flex;
      flex: 1;
    }
  }

  @include mobile {
    @include flexbox($justify: center);
    &-members,
    &-nav {
      display: none;
    }

    .button--burger {
      background: orange;
    }
  }

  @include tablet {
    @include flexbox($justify: center);
    &-members,
    &-nav {
      display: none;
    }
  }
}
